* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

body {
    background-color: aliceblue;
    width: 100%;


}

/* -----------------------------------------title Bar-------------------------------------------------- */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    margin-top: 0%;
    position: relative;
    left: 0%;

}



.Tasks {
    position: absolute;
    font-size: 70px;
    left: 7%;
    top: 3rem;
    color: aliceblue;
}

.List {
    position: absolute;
    font-size: 70px;
    top: 3rem;
    left: 17%;
    color: aliceblue;
}

.addItem {
    position: absolute;
    font-size: 70px;
    right: 22%;
    top: 3rem;
    color: aliceblue;
    cursor: pointer;
}

.masterButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00A5EC;
    border-radius: 50%;
    position: absolute;
    right: 38%;
    top: 3rem;
    width: 5rem;
    height: 5rem;
    font-size: 5rem;
    color: aliceblue;
    cursor: pointer;

}


.msg h1 {
    position: absolute;
    top: 10rem;
    left: 9rem;
    font-size: 2rem;
    color: aliceblue;
}

/* -----------------------------------------title Bar-------------------------------------------------- */




/* -----------------------------------------Popup Window-------------------------------------------------- */

.popupWindow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: 20rem;
    background-color: aliceblue;
    border-radius: 10px;
    border: 3px solid black;
    position: absolute;
    top: 15%;
    left: 50%;
    display: none;
    transform: translate(-50%, 50%);
    z-index: 5;

}



.popupWindow h1 {
    position: absolute;
    top: 50px;
    font-size: 38px;
    color: tomato;
}

.popupWindow input {
    position: absolute;
    top: 40%;
    bottom: 0%;
    width: 70%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid tomato;
    text-align: center;
    font-size: 24px;
}

.popupWindow #addPopup {
    position: relative;
    top: 80px;
    right: 100px;
    width: 100px;
    height: 50px;
    background-color: lightgreen;
    border-radius: 5px;
    font-size: 18px;
}



.popupWindow #closePopup {
    position: relative;
    top: 30px;
    left: 100px;
    width: 100px;
    height: 50px;
    background-color: tomato;
    border-radius: 5px;
    font-size: 18px;
}


/* card container */

.cardContainer {
    display: flex;
    width: 85%;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 3px solid black;
    background-color: black;
    gap: 2rem;
    position: absolute;
    top: 25%;
    left: 10%;
    right: 10%;
}

.card {
    display: flex;
    flex-direction: column;
    width: 242px;
    gap: 5px;
    height: 380px;
    border-radius: 10px;
    border: 3px solid black;
    background-color: aliceblue;
    text-align: center;
    background-color: #5d70bd;
    position: relative;
    top: 0%;
}

.card h2 {
    padding: 20px;
    border-bottom: 2px solid black;
    /* background-color: rgb(90, 90, 199); */
    color: #feffff;
    cursor: pointer;
}

.card .deleteName {
    position: absolute;
    width: 97%;
    margin-left: 4px;
    background-color: #800020;
    height: 30px;
    top: 21rem;
    left: 0rem;
    cursor: pointer;
}

.card .addTaskName {
    position: absolute;
    width: 97%;
    margin-left: 4px;
    background-color: #0D362B;
    height: 30px;
    top: 19rem;
    left: 0rem;
    cursor: pointer;
}

/* Inner div On popup button */

.childCard {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    color: #111111;
    border-radius: 5px;
    width: 97%;
    height: 60%;
    margin-left: 3px;
    overflow: auto;
}



.hide_container {
    display: flex;
    justify-content: center;
    width: 80%;
    position: absolute;
    top: 25%;
    left: 10%;

}



/* Creating a popup for add task Event */
.hide{
    display: none;
}

.task-popup-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 390px;
    height: 270px;
    background-color: wheat;
    position: fixed;
    top: 30%;
    left: 40%;
    border-radius: 15px;
    border: black 2px solid;
}

.task-popup-parent h1 {
    position: absolute;
    top: 20px;
}

.task-popup-parent input {
    width: 80%;
    height: 35px;
}

.Add-button{
    width: 80px;
    height: 40px;
    position: absolute;
    left: 10%;
    top: 70%;
    color: white;
    background: green;
}

.close-button{
    width: 80px;
    height: 40px;
    position: absolute;
    right: 10%;
    top: 70%;
    color: white;
    background: tomato;
}


/* .popupWindow-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: 20rem;
    background-color: aliceblue;
    border-radius: 10px;
    border: 3px solid black;
    position: absolute;
    top: 15%;
    left: 50%;
    display: none;
    transform: translate(-50%, 50%);
    z-index: 4;
} */



/* .popupWindow-task h1 {
    position: absolute;
    top: 50px;
    font-size: 38px;
    color: tomato;
} */

/* .popupWindow-task input {
    position: absolute;
    top: 40%;
    bottom: 0%;
    width: 70%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid tomato;
    text-align: center;
    font-size: 24px;
} */

/* .popupWindow-task .addPopup1 {
    position: relative;
    top: 80px;
    right: 100px;
    width: 100px;
    height: 50px;
    background-color: lightgreen;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
} */



/* .popupWindow-task .closePopup1 {
    position: relative;
    top: 30px;
    left: 100px;
    width: 100px;
    height: 50px;
    background-color: tomato;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
} */


/* -----------------------------------------Back button css */


.backbutton {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 100px;
    height: 50px;
    border: #000105;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    font-weight: bolder;
    font-size: 28px;
    display: none;
    cursor: pointer;
}



@media screen and (max-width: 480px) and (min-width: 280px) {

    /* meadia screen for mobile view */
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150vh;
        background-color: black;
        margin-top: 0%;
        position: relative;
        left: 0%;

    }



    .Tasks {
        position: absolute;
        font-size: 70px;
        left: 10%;
        top: 3rem;
        color: aliceblue;
    }

    .List {
        position: absolute;
        font-size: 70px;
        top: 3rem;
        left: 60%;
        color: aliceblue;
    }

    .addItem {
        position: absolute;
        font-size: 70px;
        right: 5%;
        top: 9rem;
        color: aliceblue;
        cursor: pointer;
    }


    .masterButton {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00A5EC;
        border-radius: 50%;
        position: absolute;
        left: 7%;
        top: 154px;
        width: 4rem;
        height: 4rem;
        font-size: 4rem;
        color: aliceblue;
        cursor: pointer;

    }


    .msg h1 {
        position: absolute;
        top: 17rem;
        left: 4rem;
        font-size: 2rem;
        color: aliceblue;
    }

    /* -----------------------------------------title Bar-------------------------------------------------- */




    /* -----------------------------------------Popup Window-------------------------------------------------- */

    .popupWindow {
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 97%;
        height: 15rem;
        background-color: aliceblue;
        border-radius: 10px;
        border: 3px solid black;
        position: absolute;
        top: 15%;
        left: 50%;
        display: none;
        transform: translate(-50%, 50%);
        z-index: 5;

    }



    .popupWindow h1 {
        position: absolute;
        top: 25px;
        font-size: 34px;
        color: tomato;
    }

    .popupWindow input {
        position: absolute;
        top: 39%;
        bottom: 0%;
        width: 70%;
        height: 37px;
        border-radius: 5px;
        border: 2px solid tomato;
        text-align: center;
        font-size: 18px;
    }

    .popupWindow #addPopup {
        position: relative;
        top: 64px;
        right: 72px;
        width: 70px;
        height: 36px;
        background-color: lightgreen;
        border-radius: 5px;
        font-size: 15px;
    }



    .popupWindow #closePopup {
        position: absolute;
        top: 162px;
        left: 190px;
        width: 70px;
        height: 36px;
        background-color: tomato;
        border-radius: 5px;
        font-size: 15px;
    }



    .cardContainer {
        display: flex;
        width: min-content;
        height: 100vh;
        justify-content: center;
        flex-wrap: wrap;
        border: 3px solid black;
        background-color: black;
        position: absolute;
        gap: 2rem;
        top: 34%;
        left: 21%;
        /* right: 10%; */
        overflow: scroll;
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 242px;
        gap: 5px;
        height: 380px;
        border-radius: 10px;
        border: 3px solid black;
        background-color: aliceblue;
        text-align: center;
        background-color: #5d70bd;
        position: relative;
        top: 0%;
    }

    .card h2 {
        padding: 20px;
        border-bottom: 2px solid black;
        /* background-color: rgb(90, 90, 199); */
        color: #feffff;
    }

    .card .deleteName {
        position: absolute;
        width: 97%;
        margin-left: 4px;
        background-color: #800020;
        height: 30px;
        top: 21rem;
        left: 0rem;
    }

    .card .addTaskName {
        position: absolute;
        width: 97%;
        margin-left: 4px;
        background-color: #0D362B;
        height: 30px;
        top: 19rem;
        left: 0rem;
    }

    /* Inner div On popup button */

    .childCard {
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        background-color: #ffffff;
        color: #111111;
        border-radius: 5px;
        width: 97%;
        /* height: 35px; */
        margin-left: 3px;

        overflow: auto;
    }

    .childCard h3 {
        overflow: auto;

    }






    /* Creating a popup for add task Event */

    .popupWindow-task {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 35rem;
        height: 20rem;
        background-color: aliceblue;
        border-radius: 10px;
        border: 3px solid black;
        position: absolute;
        top: 15%;
        left: 50%;
        display: none;
        transform: translate(-50%, 50%);
        z-index: 4;
    }

    /* 
    div
    h1
    input
    id addpopup 
    id clockpopup
    */

    .popupWindow-task h1 {
        position: absolute;
        top: 50px;
        font-size: 38px;
        color: tomato;
    }

    .popupWindow-task input {
        position: absolute;
        top: 40%;
        bottom: 0%;
        width: 70%;
        height: 50px;
        border-radius: 5px;
        border: 2px solid tomato;
        text-align: center;
        font-size: 24px;
    }

    .popupWindow-task .addPopup1 {
        position: relative;
        top: 80px;
        right: 100px;
        width: 100px;
        height: 50px;
        background-color: lightgreen;
        border-radius: 5px;
        font-size: 18px;
    }



    .popupWindow-task .closePopup1 {
        position: relative;
        top: 30px;
        left: 100px;
        width: 100px;
        height: 50px;
        background-color: tomato;
        border-radius: 5px;
        font-size: 18px;
    }


    /* -----------------------------------------Back button css */


    .backbutton {
        position: absolute;
        left: 6%;
        top: 26%;
        width: 100px;
        height: 50px;
        border: #000105;
        border-radius: 10px;
        background-color: rgb(117, 1, 1);
        color: #dc6482;
        /* font-weight: bolder; */
        font-size: 18px;
    }
}



/*============================================================================ Tab View ======================================== */


@media screen and (max-width: 920px) and (min-width: 500px) {

    /* meadia screen for mobile view */
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150vh;
        background-color: black;
        margin-top: 0%;
        position: relative;
        left: 0%;

    }



    .Tasks {
        position: absolute;
        font-size: 70px;
        left: 10%;
        top: 6rem;
        color: aliceblue;
    }

    .List {
        position: absolute;
        font-size: 70px;
        top: 6rem;
        left: 30%;
        color: aliceblue;
    }

    .addItem {
        position: absolute;
        font-size: 70px;
        right: 8%;
        top: 6rem;
        color: aliceblue;
        cursor: pointer;
    }


    .masterButton {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00A5EC;
        border-radius: 50%;
        position: absolute;
        left: 48%;
        top: 109px;
        width: 4rem;
        height: 4rem;
        font-size: 4rem;
        color: aliceblue;
        cursor: pointer;
    }


    .msg h1 {
        position: absolute;
        top: 17rem;
        left: 4rem;
        font-size: 2rem;
        color: aliceblue;
    }

    /* -----------------------------------------title Bar-------------------------------------------------- */




    /* -----------------------------------------Popup Window-------------------------------------------------- */

    .popupWindow {
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 97%;
        height: 15rem;
        background-color: aliceblue;
        border-radius: 10px;
        border: 3px solid black;
        position: absolute;
        top: 15%;
        left: 50%;
        display: none;
        transform: translate(-50%, 50%);
        z-index: 5;

    }



    .popupWindow h1 {
        position: absolute;
        top: 25px;
        font-size: 34px;
        color: tomato;
    }

    .popupWindow input {
        position: absolute;
        top: 39%;
        bottom: 0%;
        width: 70%;
        height: 37px;
        border-radius: 5px;
        border: 2px solid tomato;
        text-align: center;
        font-size: 18px;
    }

    .popupWindow #addPopup {
        position: relative;
        top: 64px;
        right: 72px;
        width: 70px;
        height: 36px;
        background-color: lightgreen;
        border-radius: 5px;
        font-size: 15px;
    }



    .popupWindow #closePopup {
        position: absolute;
        top: 162px;
        left: 190px;
        width: 70px;
        height: 36px;
        background-color: tomato;
        border-radius: 5px;
        font-size: 15px;
    }



    .cardContainer {
        display: flex;
    width: fit-content;
    height: 100vh;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 3px solid black;
    background-color: black;
    position: absolute;
    gap: 2rem;
    top: 25%;
    /* left: 10%; */
    /* right: 10%; */
    overflow: scroll;
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 242px;
        gap: 5px;
        height: 380px;
        border-radius: 10px;
        border: 3px solid black;
        background-color: aliceblue;
        text-align: center;
        background-color: #5d70bd;
        position: relative;
        top: 0%;
    }

    .card h2 {
        padding: 20px;
        border-bottom: 2px solid black;
        /* background-color: rgb(90, 90, 199); */
        color: #feffff;
    }

    .card .deleteName {
        position: absolute;
        width: 97%;
        margin-left: 4px;
        background-color: #800020;
        height: 30px;
        top: 21rem;
        left: 0rem;
    }

    .card .addTaskName {
        position: absolute;
        width: 97%;
        margin-left: 4px;
        background-color: #0D362B;
        height: 30px;
        top: 19rem;
        left: 0rem;
    }

    /* Inner div On popup button */

    .childCard {
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        background-color: #ffffff;
        color: #111111;
        border-radius: 5px;
        width: 97%;
        /* height: 35px; */
        margin-left: 3px;

        overflow: auto;
    }

    .childCard h3 {
        overflow: auto;

    }






    /* Creating a popup for add task Event */

    .popupWindow-task {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 35rem;
        height: 20rem;
        background-color: aliceblue;
        border-radius: 10px;
        border: 3px solid black;
        position: absolute;
        top: 15%;
        left: 50%;
        display: none;
        transform: translate(-50%, 50%);
        z-index: 4;
    }

    /* 
    div
    h1
    input
    id addpopup 
    id clockpopup
    */

    .popupWindow-task h1 {
        position: absolute;
        top: 50px;
        font-size: 38px;
        color: tomato;
    }

    .popupWindow-task input {
        position: absolute;
        top: 40%;
        bottom: 0%;
        width: 70%;
        height: 50px;
        border-radius: 5px;
        border: 2px solid tomato;
        text-align: center;
        font-size: 24px;
    }

    .popupWindow-task .addPopup1 {
        position: relative;
        top: 80px;
        right: 100px;
        width: 100px;
        height: 50px;
        background-color: lightgreen;
        border-radius: 5px;
        font-size: 18px;
    }



    .popupWindow-task .closePopup1 {
        position: relative;
        top: 30px;
        left: 100px;
        width: 100px;
        height: 50px;
        background-color: tomato;
        border-radius: 5px;
        font-size: 18px;
    }


    /* -----------------------------------------Back button css */


    .backbutton {
        position: absolute;
        left: 6%;
        top: 26%;
        width: 100px;
        height: 50px;
        border: #000105;
        border-radius: 10px;
        background-color: rgb(117, 1, 1);
        color: #dc6482;
        /* font-weight: bolder; */
        font-size: 18px;
    }
}